.calendar{
      border-radius: 5px;
      border: 1px dashed #000;
}

.format-chart{
      max-width: 80%;
      margin: 0 auto;
}


.format-button button {
      margin-left: 20px;
}     



.format-button button a{
      text-decoration: none;
      color: white;
}

