body {
      box-sizing: border-box;
}

.statistic-table {
      border: 1px solid #ccc;
      margin-top: 30px;
      padding: 20px;
      font-size: x-large;
}


.statistic-table tr th {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      padding: 5px;
}

.function-selection> button {
      margin-top: 30px;
      border: none;
      border-radius: 5px;
      padding: 10px;
      list-style-type: none;

}
.function-selection> button a {
      text-decoration: none;
      color: white;
}
