.format-button {
      margin-top: 50px;
      
}
.format-button button {
      margin-left: 20px;
}

.format-button button a{
      color: white;
}
.format-button button a:hover{
      text-decoration: none;
}