:root {
    --border-color-ticket: #e88ba3;
    --background-color-ticket: #fff5f6;
}

.booking {
    color: #003b95;
}

.face {
    color: #0866ff;
}

.twitter {
    color: black;
}

.instagram {
    color: #ff0a85;
}

.text-footer {
    font-size: 12px;
}


.title-color {
    color: #248acc;
}

/* banner giới thiệu */
.carousel-inner img {
    width: 100%; 
    height: 400px; 
    object-fit: cover;
}

.carousel-caption{
    position: absolute;
    font-weight: bold;
    bottom: -30px;
}

.full-width-height {
    width: 100%;
    height: 100%;
}
/* kết thúc banner giới thiệu */

/* ===================== */
/* vé khuyển mãi trang chủ index.html */


.ticket-code {
    border-top: 3px solid var(--border-color-ticket);
    border-right: 3px solid var(--border-color-ticket);
    border-bottom: 3px solid var(--border-color-ticket);
    border-radius: 35px 8px 8px 35px;
    background-color: var(--background-color-ticket);
}

.ticket-code p {
    font-size: 1.5rem;
}


.ticket-code button {
    font-size: 0.875rem;
    border-radius: 7px;
    background-color: #ff3266;
    color: #fff5f6;
    padding: 5px;
}

.ticket-info {
    border-top: 3px solid var(--border-color-ticket);
    border-right: 3px dashed var(--border-color-ticket);
    border-bottom: 3px solid var(--border-color-ticket);
    border-left: 3px solid var(--border-color-ticket);
    border-radius: 8px 35px 35px 8px;
    background-color: var(--background-color-ticket);
}

.text-truncate {
    white-space: nowrap;     
    overflow: hidden;    
    text-overflow: ellipsis;  /* Thêm dấu "..." khi văn bản bị cắt */
}
/* hết phần vé khuyển mãi */

/* phần countdown flasksale */
.timer {
    display: flex;
    justify-content: start;
    gap: 5px;
}

.timer span {
    background-color: #ff4081; 
    color: white;             
    font-weight: bold;
    font-size: 1rem;
    padding: 0px 10px;
    border-radius: 8px;    
}

.timer p {
    font-weight: bold;
    padding: 0;
    margin: 2px;
}

.box-flasksale-right {
    background-color: #5ae7de;
    color: white;
    padding: 0;
    border-radius: 10px;
}
/* hết phần countdown flasksale */

/* phần image room trong flask sale */
.img-responsive {
    width: 40%; 
    height: auto; 
}

/* thanh nhập số điện thoại nhận chương trình khuyến mãi */
div .promotion{
    border: 2px solid #09d396;
    border-radius: 5px;
}

.promotion .promotion1 {
    border-radius:  5px 0 0 5px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #edf2f6;
}
/* end thanh nhập số điện thoại nhận chương trình khuyến mãi */

/* phần giới thiệu người sáng lập */
.person_card {
    width: 300px;
    height: 300px;
}

.person_image {
    max-width: 40%;
    height: 50%;
    display: block;

}
/*end phần giới thiệu người sáng lập */
/* =============== */
.username {
    padding-left: 0 !important;
    font-size: large;
    font-style: initial;
    font-weight: 600;
}