<body>
      <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                  <i class="fas fa-bars"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                  <div class="sidebar-content">
                        <div class="sidebar-brand">
                              <a href="#">Hotel Manasger</a>
                              <div id="close-sidebar">
                                    <i class="fas fa-times"></i>
                              </div>
                        </div>
                        <div class="sidebar-header">
                              <div class="user-pic">
                                    <img class="img-responsive img-rounded user-image"
                                    sidebar-menu  src="https://res.cloudinary.com/devtqlbho/image/upload/v1734664748/admin-user-icon-account-has-virtually-unlimited-access-to-all-programs-isolated-background-vector-illustration-322126763_fmljr0.webp"
                                          alt="User picture">
                              </div>
                              <div class="user-info">
                                    <span class="user-name">
                                          <strong>{{ current_user.name
                                                }}</strong>
                                    </span>
                                    <span class="user-role">Administrator</span>
                                    <span class="user-status">
                                          <i class="fa fa-circle"></i>
                                          <span>Online</span>
                                    </span>
                              </div>
                        </div>
                        <!-- sidebar-header  -->
                        <div class="sidebar-search">
                              <div>
                                    <div class="input-group">
                                          <input type="text"
                                                class="form-control search-menu"
                                                placeholder="Search...">
                                          <div class="input-group-append">
                                                <span class="input-group-text">
                                                      <i class="fa fa-search"
                                                            aria-hidden="true"></i>
                                                </span>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- sidebar-search  -->
                        <div class="sidebar-menu">
                              <ul>
                                    <li class="header-menu">
                                          <span>Quản lý người dùng</span>
                                    </li>
                                    <li class="sidebar-dropdown">
                                          <a href="#">
                                                <i
                                                      class="fa fa-tachometer-alt"></i>
                                                <span>Quản lý người dùng</span>
                                                <!-- <span
                                                      class="badge badge-pill badge-warning">New</span> -->
                                          </a>
                                          <div class="sidebar-submenu">
                                                <ul>
                                                      <li>
                                                            <a
                                                                  href="#">User

                                                                  <span
                                                                        class="badge badge-pill badge-success">Pro</span>
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a
                                                                  href="#">Person
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a
                                                                  href="#">Customer
                                                            </a>
                                                      </li>
                                                </ul>
                                          </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                          <a href="#">
                                                <i
                                                      class="fa fa-shopping-cart"></i>
                                                <span>Quản lý phòng</span>
                                                <span
                                                      class="badge badge-pill badge-danger">3</span>
                                          </a>
                                          <div class="sidebar-submenu">
                                                <ul>
                                                      <li>
                                                            <a
                                                                  href="#">normal</a>
                                                      </li>
                                                      <li>
                                                            <a
                                                                  href="#">VIP</a>
                                                      </li>
                                                </ul>
                                          </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                          <a href="#">
                                                <i class="far fa-gem"></i>
                                                <span>Quản lý đặt phòng</span>
                                          </a>
                                          <div class="sidebar-submenu">
                                                <ul>
                                                      <li>
                                                            <a
                                                                  href="#">Booking</a>
                                                      </li>
                                                      <li>
                                                            <a
                                                                  href="#">Booking Detail</a>
                                                      </li>
                                                </ul>
                                          </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                          <a href="#">
                                                <i class="fa fa-chart-line"></i>
                                                <span>Thống kê báo cáo</span>
                                          </a>
                                          <div class="sidebar-submenu">
                                                <ul>
                                                      <li>
                                                            <a href="#">Thống kê doanh thu theo tháng</a>
                                                      </li>
                                                      <li>
                                                            <a href="#">mật độ dự dụng phòng theo tháng</a>
                                                      </li>
                                                </ul>
                                          </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                          <a href="#">
                                                <i class="fa fa-globe"></i>
                                                <span>Quản lý hóa đơn</span>
                                          </a>
                                          <div class="sidebar-submenu">
                                                <ul>
                                                      <li>
                                                            <a href="#">Rental Recipt</a>
                                                      </li>
                                                      <li>
                                                            <a href="#">Payment</a>
                                                      </li>
                                                </ul>
                                          </div>
                                    </li>
                                    <li class="sidebar-dropdown">
                                          <a href="#">
                                                <i class="fa fa-globe"></i>
                                                <span>Quản lý Thuê phòng</span>
                                          </a>
                                          <div class="sidebar-submenu">
                                                <ul>
                                                      <li>
                                                            <a href="#">Rental Detail</a>
                                                      </li>
                                                      <li>
                                                            <a href="#">Rental Customer</a>
                                                      </li>
                                                </ul>
                                          </div>
                                    </li>
                              </ul>
                        </div>
                        <!-- sidebar-menu  -->
                  </div>
                  <!-- sidebar-content  -->
            </nav>
            <!-- sidebar-wrapper  -->
            <main class="page-content">
                  <div class="container-fluid">
                        <!-- Nội dung trang chính -->
                  </div>
            </main>
            <!-- page-content" -->
      </div>
      <!-- page-wrapper -->

      <!-- Liên kết tệp JavaScript -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>