<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/rentalroom.js') }}"></script>
{% extends '/admin/master.html' %}

{% block body %}
<h1 class="text-danger text-center">Lập Phiếu Thuê Phòng</h1>

<div id="error-mess" class="alert alert-danger display-none">
    <p id="mess"></p>
</div>

<div class="alert alert-info display-none" id="rentalsuccess" >
    <p class="m-0">Lập phiếu thuê phòng thành công!!!</p>
</div>

<div>
    <form action="/admin/rentalroom/">
        <div class="form-group">
            <label for="exampleInputEmail1">Nhập vào tên khách hàng:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Tên Khách Hàng">
        </div>
        <button type="submit" class="btn btn-info">Tìm kiếm</button>
    </form>
</div>
{% if bookings %}

{% for index, value in bookings.items() %}
<div class="border-booking p-3 mt-2" id="booking-rental">
    <h2>Thông tin đặt phòng</h2>
    <div id="booking-details">
        <p>
            <strong>Mã khách hàng:</strong>
            <span>{{ value.customer_id }}</span>
        </p>
        <p>
            <strong>Họ tên khách hàng:</strong>
            <span id="customer-name">{{ value.customer_name }}</span>
        </p>
        <p>
            <strong>Mã Đặt phòng:</strong>
            <span id="checkid">{{ value.booking_id }}</span>
        </p>
        <p>
            <strong>Ngày Đặt phòng:</strong>
            <span id="check-in-date">{{ value.booking_date }}</span>
        </p>
    </div>
    <div>
        <p class="d-flex flex-column">
        <div>
            <h3>Các phòng đã đặt:</h3>
        </div>
        <div>
            <table class="table">
                <tr>
                    <th>Mã Phòng</th>
                    <th>Tên Phòng</th>
                    <th>Ngày nhận</th>
                    <th>Ngày trả</th>
                    <th>Giá phòng</th>
                    <th>Số khách</th>

                </tr>
                {% for i, b in value.booking.items() %}
                <tr>
                    <td>{{ b.room_id }}</td>
                    <td>{{ b.room_name }}</td>
                    <td>{{ b.check_in_date }}</td>
                    <td>{{ b.check_out_date }}</td>
                    <td>{{ b.total_amount }} VND</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" id="number-customer{{ b.room_id }}">
                            <option value="1">1</option>
                            <option selected value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
        </p>
    </div>
    <div class="d-flex justify-content-between">
        <div></div>
        <div>
            <input type="button" onclick="LapPhieuThue('{{ value.booking_id }}', '{{ value.customer_id }}')" value="Lập phiếu Thuê Phòng" class="btn btn-danger" />
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<form id="rental-form" action="/admin/rentalroom/" method="POST">
    <div id="add-rental">
        <div class="d-flex justify-content-around border-booking p-2 mt-3">
            <div id="input-customer">
                <h2>Thông Tin Khách Hàng</h2>
    
                <div id="input-cccd" class="form-group">
                    <label for="exampleInputEmail1">Nhập mã khách Hàng or CCCD</label>
                    <input type="number" class="form-control" id="cccd" aria-describedby="cccd" onblur="searchCustomer(this)" name="cccd"
                        placeholder="Nhập mã or cccd...">
                </div>
                <div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Họ và tên</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name" name="name"
                            placeholder="Nhập họ và tên...">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Số điện thoại</label>
                        <input type="number" class="form-control" id="phone" name="phone" placeholder="Nhập số điện thoại...">
                        <small id="phone" class="form-text text-muted">Cần thiết để chỗ nghỉ xác nhận đặt
                            phòng của bạn</small>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Địa chỉ email</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Email xác nhận đặt phòng sẽ được
                            gửi đến địa chỉ này</small>
                    </div>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example" id="type-customer" name="type-customer">
                        <option selected value="DOMESTIC">Khách Trong nước</option>
                        <option value="FOREIGN">Khách nước ngoài</option>
                      </select>
                </div>
            </div>
            <div>
                <h2>Thông Tin Phòng</h2>
                <div class="mt-2">
                    <label for="room_type">Loại phòng:</label>
                    <select class="form-select" id="type" name="type" aria-label="Default select example">
                        <option value="Normal">Phòng thường</option>
                        <option value="VIP">Phòng VIP</option>
                      </select>
                </div>
                <div class="form-group mt-2">
                    <label class="form-group" for="check_in_date">Ngày nhận phòng:</label>
                    <input type="date" class="form-control" id="check_in_date" name="check_in_date" required>
                    <small id="check_in_date" class="form-text text-muted"></small>
                </div>
    
                <div class="form-group mt-2">
                    <label class="form-group" for="check_out_date">Ngày trả phòng:</label>
                    <input type="date" class="form-control" onblur="searchRoom(this)" id="check_out_date" name="check_out_date" required/>
                    <small id="check_out_date" class="form-text text-muted"></small>
                </div>

                <div class="mt-2">
                    <label for="room_number">Số phòng:</label>
                    <select class="form-select" id="room" name="room" onchange="updateRoomPrice(this)" aria-label="Default select example">
                        <option value="">Chọn phòng</option>
                    </select>
                </div>
                <div class="mt-2">
                    <label for="room_number">Số Khách:</label>
                    <select class="form-select" aria-label="Default select example" id="number-cus" name="number-cus">
                        <option value="1">1</option>
                        <option selected value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="d-flex mt-5">
                    <div><h4>Giá Phòng:</h4> </div>
                    <div><h4  id="room-price" class="text-danger ms-3">112345667 VND</h4></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-between mt-2">
        <div>
            <input type="button" value="Thêm phiếu thuê" onclick="addRentalForm()" class="btn btn-info" />
        </div>
        <div>
            <input type="button" onclick="addRental()" value="Lập Toàn bộ phiếu thuê phòng" class="btn btn-danger"/>
        </div>
    </div>
</form>

{% endif %}






{% endblock %}