{% extends 'layout/base.html' %}

{% block title %}Booking detail{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/bookingDetail.css">
{% endblock %}

{% block js %}Booking Detail{% endblock %}

{% block content %}
<div>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center">
                    <p class="menu-item-p">Tổng quan</p>
                </div>

                <div class="col-md-2">
                    <p class="menu-item-p">Thông tin & giá</p>
                </div>

                <div class="col-md-2">
                    <p class="menu-item-p">Tiện nghi</p>
                </div>

                <div class="col-md-2">
                    <p class="menu-item-p">Quy tắc chung</p>
                </div>

                <div class="col-md-1">
                    <p class="menu-item-p">Ghi chú</p>
                </div>

                <div class="col-md-3">
                    <p class="menu-item-p">Đánh giá của khách
                        (1.177)</p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-8">
                    <div>phòng P112
                        {% for i in range(1, 4) %}
                        <i class="fa-solid fa-star"
                            style="color: #FFD43B;"></i>
                        {% endfor %}
                        <i class="fa-solid fa-thumbs-up"
                            style="color: #74C0FC;"></i>
                    </div>
                    <div>
                        <p>Tốt <span class="room-review">7.8</span> 912 đánh
                            giá</p>
                    </div>
                </div>

                <div class="col-md-4 text-end">
                    <i class="fa-regular fa-heart"
                        style="color: #74C0FC;"></i>
                    <i class="fa-solid fa-share"
                        style="color: #74C0FC;"></i>
                    <button class="btn btn-info me-3 m-3">Đặt
                        ngay</button>

                    <span style="color: #1763b7;"> <i
                            class="fa-solid fa-tag"
                            style="color: #74C0FC;"></i> Chúng tôi
                        luôn khớp giá</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-3">
    <div class="align-items-center">
        <div class="mb-0">
            <h1>Oasia House Dalat</h1>
        </div>
        <div class="p-2">
            <i class="fa-regular fa-map"></i>
            <span>27 Hẻm Lê Hồng Phong, Đà Lạt, Việt Nam - </span>
            <a
                href="https://www.google.com/maps/place/SwanBay/@10.7396431,106.8313967,17z/data=!3m1!4b1!4m6!3m5!1s0x317523d8d516b03b:0x6a81257a389d5015!8m2!3d10.7396378!4d106.8339716!16s%2Fg%2F11rdsx9yw7?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D">Vị
                trí xuất sắc - hiển thị bản đồ</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="d-flex justify-content-between mb-2">
                <div
                    class="flex-image flex-column col-md-4 justify-content-between">
                    <div class="rounded-pill">
                        <img class="border-lg-image"
                            src="{{ url_for('static', filename='image/ks.jpg') }}"
                            width="95%" />
                    </div>
                    <div class="rounded-pill pt-0 ">
                        <img class="border-lg-image"
                            src="{{ url_for('static', filename='image/ks.jpg') }}"
                            width="95%" />
                    </div>
                </div>
                <div class="rounded-pill">
                    <img class="border-lg-image"
                        src="{{ url_for('static', filename='image/ks.jpg') }}"
                        width="100%" />
                </div>
            </div>
            <div class="flex-image">
                <div class="image-small">
                    <button class=" p-0 border-none">
                        <img class="border-sm-image"
                            src="{{ url_for('static', filename='image/ks.jpg') }}"
                            width="100%" />
                    </button>
                </div>
                <div class="image-small">
                    <button class=" p-0 border-none">
                        <img class="border-sm-image"
                            src="{{ url_for('static', filename='image/ks.jpg') }}"
                            width="100%" />
                    </button>
                </div>
                <div class="image-small">
                    <button class=" p-0 border-none">
                        <img class="border-sm-image"
                            src="{{ url_for('static', filename='image/ks.jpg') }}"
                            width="100%" />
                    </button>
                </div>
                <div class="image-small">
                    <button class=" p-0 border-none">
                        <img class="border-sm-image"
                            src="{{ url_for('static', filename='image/ks.jpg') }}"
                            width="100%" />
                    </button>
                </div>
                <div class="image-small">
                    <button class=" p-0 border-none">
                        <img class="border-sm-image"
                            src="{{ url_for('static', filename='image/ks.jpg') }}"
                            width="100%" />
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-xs-12 p-1"
            style="border: 1px solid #1763b7; border-radius: 5px;">
            <div>
                <div class="row">
                    <div class="col-md-9 col-xs-12 text-end p-0">
                        <h5 class='mb-0'>Tốt</h5>
                        <p class="mb-0">912 đánh giá</p>
                    </div>
                    <div class="col-md-3 col-xs-12 ">
                        <p class="room-rate ">7.8</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="mt-3">
                <h6 class="text-success">Khách lưu trú ở đây thích điều gì?
                </h6>
                <!-- Carousel -->
                <div id="cmt" class="carousel slide" data-bs-ride="carousel">

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner container">
                        <div class="carousel-item active container">
                            <span>“nhiều quán nhậu xung quanh, chất lượng phòng
                                ổn, lễ tân trực 24/24, giá phòng rẻ mà ở ngay
                                trung tâm.”</span>
                            <div
                                class="image-nation d-flex justify-content-around mt-3">
                                <span><i class="fa-solid fa-user"
                                        style="color: #cfd8e8;"></i> </span>
                                <p>Quốc Vũ</p>
                                <img
                                    src="https://res.cloudinary.com/devtqlbho/image/upload/v1733671423/vietnam_icon_127899_ys0vnv.png"
                                    alt="Vietnamese">
                                <span>Vietnamese</span>
                            </div>
                        </div>
                        <div class="carousel-item container">
                            <span>“Phòng đep, rộng rãi, thoáng mát, nhân viên
                                nhiệt tình, dịch vụ tốt, rất đáng để quay trở
                                lại.”</span>
                            <div
                                class="image-nation d-flex justify-content-around mt-3 ">
                                <span><i class="fa-solid fa-user"
                                        style="color: #cfd8e8;"></i> </span>
                                <p>Hạ Linh</p>
                                <img
                                    src="https://res.cloudinary.com/devtqlbho/image/upload/v1733671423/vietnam_icon_127899_ys0vnv.png"
                                    alt="Vietnamese">
                                <span>Vietnamese</span>
                            </div>
                        </div>
                        <div class="carousel-item container">
                            <span>“không gian rộng rãi, thoáng mát, đầy đủ tiện
                                nghi, ăn uống đa dạng nhân viên lịch
                                sự,...”</span>
                            <div
                                class="image-nation d-flex justify-content-around mt-3 ">
                                <span><i class="fa-solid fa-user"
                                        style="color: #cfd8e8;"></i> </span>
                                <p>Dương Phạm</p>
                                <img
                                    src="https://res.cloudinary.com/devtqlbho/image/upload/v1733671423/vietnam_icon_127899_ys0vnv.png"
                                    alt="Vietnamese">
                                <span>Vietnamese</span>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#cmt" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#cmt" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
                <hr>
                <div class="d-flex justify-content-around">
                    <p>Vị trí tuyệt vời</p>
                    <span>9,0</span>
                </div>
                <hr>

                <div class="container">
                    <span class="text-success">Khách nói gì về kỳ nghỉ của họ
                    </span>
                    <div class="comment row">
                        <p class="col-md-5">Bữa Sáng Ngon (2)</p>
                        <p class="col-md-5">Phòng Sạch (12)</p>
                        <p class="col-md-6">Nhân Viên Thân Thiện (20)</p>
                        <p class="col-md-5">Dịch Vụ Xuất Sắc (2)</p>
                    </div>
                </div>
                <hr>

                <div class="container text-center ">
                    <button type="button" class="btn booking-now">Đặt
                        Ngay</button>
                </div>
            </div>

        </div>
    </div>

    <div>
        <div class="container mt-3">
            <h4>Thông tin chi tiết</h4>
            <p>Thành phố Hồ Chí Minh sôi động. Khách sạn cung cấp các phòng nghỉ
                tiện nghi sạch sẽ với máy lạnh cùng phòng tắm riêng và truy cập
                Wi-Fi miễn phí tại tất cả các khu vực.

                Khách sạn giá cả phải chăng này nằm chỉ cách Chợ Bến Thành nổi
                tiếng 600 m. Cách khách sạn 1 km là Dinh Thống Nhất lịch sử
                trong khi Bảo tàng Quân đội cách đó 3,6 km. Sân bay Quốc tế Tân
                Sơn Nhất nằm trong bán kính 7 km từ khách sạn.</p>
            <p class="see-more"
                data-bs-toggle="collapse"
                data-bs-target="#infomation-room">Xem Thêm <i
                    class="fa-solid fa-angles-right"
                    style="color: #74C0FC;"></i></p>
            <div id="infomation-room" class="collapse">
                Các phòng nghỉ tại đây có TV màn hình phẳng, khu vực tiếp khách
                và minibar. Các phòng tắm riêng đi kèm vòi sen nước nóng, khăn
                tắm cùng đồ vệ sinh cá nhân miễn phí.

                Tại YaYa Sai Gon Hotel Bui Vien Walking Street, du khách sẽ tìm
                thấy lễ tân 24 giờ với chỗ để hành lý. Khách sạn còn có các tiện
                nghi như dịch vụ cho thuê xe máy, bàn đặt tour và dịch vụ giặt
                là/ủi.
            </div>
        </div>
    </div>

    <div>
        <h5>các tiện nghi được ưa chuộng nhất</h5>
        <ul class="comfort d-flex">
            <li><i class="fa-solid fa-wifi" style="color: #63E6BE;"></i> Wi-Fi
                miễn phí</li>
            <li><i class="fa-solid fa-bus" style="color: #63E6BE;"></i> Xưa đưa
                đón từ sân bay</li>
            <li><i class="fa-solid fa-people-group" style="color: #63E6BE;"></i>
                Phòng gia đình</li>
            <li><i class="fa-solid fa-ban-smoking" style="color: #63E6BE;"></i>
                không hút thuốc</li>
            <li><i class="fa-solid fa-temperature-low"
                    style="color: #63E6BE;"></i> Điều hòa nhiệt độ</li>
            <li><i class="fa-solid fa-elevator" style="color: #63E6BE;"></i>
                thang máy</li>
            <li><i class="fa-solid fa-broom" style="color: #63E6BE;"></i> Dọn
                dẹp hằng ngày</li>
        </ul>
    </div>

    <div class="container">
        <h4>Xếp hạng & Điểm đánh giá chung </h4>
        <p>Từ <span style="font-weight: bold;">921</span>đánh giá của khách đã
            ở</p>
        <div class="container row">
            <div class="col-md-2 Evaluate1" style="background-color: #63E6BE;">
                <div class="container p-0">
                    <div class="outer-circle">
                        <div class="inner-circle">
                            8.5
                        </div>
                    </div>
                </div>
                <h4 class="mt-2">Ấn tượng</h4>
            </div>
            
            <div class="col-md-6" style="background-color:#FFD43B">
                <div class="row m-2">
                    <div class="col-md-3">Tuyệt vời</div>
                    <div class="col-md-8 mt-1">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%">70%</div>
                        </div>
                    </div>
                    <div class="col-md-1">1.119</div>
                </div>

                <div class="row m-2">
                    <div class="col-md-3">Hài lòng</div>
                    <div class="col-md-8 mt-1">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%">70%</div>
                        </div>
                    </div>
                    <div class="col-md-1">1.119</div>
                </div>

                <div class="row m-2">
                    <div class="col-md-3">Trung bình</div>
                    <div class="col-md-8 mt-1">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%">70%</div>
                        </div>
                    </div>
                    <div class="col-md-1">1.119</div>
                </div>

                <div class="row m-2">
                    <div class="col-md-3">Kém</div>
                    <div class="col-md-8 mt-1">
                        <div class="progress">
                            <div class="progress-bar" style="width:70%">70%</div>
                        </div>
                    </div>
                    <div class="col-md-1">1.119</div>
                </div>

                
            </div>
            <div class="col-md-3" style="background-color:cadetblue">
                <div class="container">
                    <div>
                        <ul  class="Evaluate2 d-flex mb-0">
                            <li><p>Sạch sẽ </p></li>
                            {% for i in range(1, 5) %}
                            <li><i class="fa-solid fa-star" style="color: #74C0FC;"></i></li>
                            {% endfor %}
                            {% for i in range(1, 2) %}
                            <li><i class="fa-regular fa-star" style="color: #74C0FC;"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <ul  class="Evaluate2 d-flex mb-0">
                            <li><p> Đồ ăn </p></li>
                            {% for i in range(1, 5) %}
                            <li><i class="fa-solid fa-star" style="color: #74C0FC;"></i></li>
                            {% endfor %}
                            {% for i in range(1, 2) %}
                            <li><i class="fa-regular fa-star" style="color: #74C0FC;"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div>
                        <ul  class="Evaluate2 d-flex mb-0 ">
                            <li><p>Thoải mái </p></li>
                            {% for i in range(1, 5) %}
                            <li><i class="fa-solid fa-star" style="color: #74C0FC;"></i></li>
                            {% endfor %}
                            {% for i in range(1, 2) %}
                            <li><i class="fa-regular fa-star" style="color: #74C0FC;"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
