{% extends 'layout/base.html' %}

{% block title %}Booking{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/checkOutDate.js') }}"></script>
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>

{% endblock %}

{% block content %}
<div class="my-container">
    <div class="mt-3">
        <div class="">
            <div class="container mt-3 mb-3 bg-light ">
                <div class="container border border-3 rounded mx-auto">
                    <form class="m-4" action="/booking/search-room" method="get">
                        <div class="mb-2 ">
                            <label for="location" class="form-label title-color"><i class="fa-solid fa-city"
                                    style="color: #63E6BE;"></i>
                                Tên Phòng: </label>
                            <input id="location" type="text" class="form-control dropdown-toggle"
                                placeholder="Tên Phòng" aria-expanded="false" name="name-room" />
                        </div>

                        <div class="row justify-content-center align-items-center text-center">
                            <div class="col-md-3 ">
                                <label for="checkin-date" class="form-label title-color"><i class="fa-solid fa-calendar"
                                        style="color: #23e7d9;"></i> Check-in date:
                                </label>
                                <input type="date" id="checkin-date" class="form-control" name="date-in" />
                            </div>

                            <div class="col-md-3">
                                <label class="mb-2 title-color"><i class="fa-solid fa-moon "
                                        style="color: #FFD43B;"></i> Số đêm</label>
                                <select class=" form-select" id="overnight" name="overnight">
                                    {% for i in range(1, 5) %}
                                    <option value="{{ i }}">{{ i }} đêm</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="check-out-date" class="mb-3 title-color">
                                    <i class="fa-solid fa-right-to-bracket" style="color: #B197FC;"></i> Check out
                                </label>
                                <div>
                                    <label for="checkout-date" id="current-date"></label>
                                </div>
                            </div>

                            <div class="row mt-3 justify-content-center p-0">
                                <div class="col-md-3 text-center">
                                    <p class="title-color"> <i class="fa-solid fa-person" style="color: #f5600f;"></i>
                                        Số lượng khách</p>
                                    <select class="form-select" id="number-customer" name="number-customer">
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>

                                <div class="col-md-3 ">
                                    <p class="title-color"> <i class="fa-solid fa-bed" style="color: #e665d5;"></i> Loại
                                        phòng</p>
                                    <select class="form-select" id="type-room" name="type-room">
                                        <option value="Normal">
                                            Normal</option>
                                        <option value="VIP">VIP
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6 text-center">
                                    <p class="mb-0"><br></p>
                                    <button type="button" id="search" class="btn col-md-6"
                                        style="background-color:#ff5e1e; color:antiquewhite">
                                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                                        Tìm phòng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <form action="/booking">
                <ul class="pagination">
                    {% if pages %}
                    {% if has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('booking', page=page - 1) }}">Previous</a>
                    </li>
                    {% endif %}

                    {% for p in range(1, pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('booking', page=p) }}">{{
                            p }}</a>
                    </li>
                    {% endfor %}

                    {% if has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('booking', page=page + 1) }}">Next</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </form>
        </div>
        <!-- khach san -->

        <div id="room-search">
            {% for r in rooms %}
            <div class="mt-2">
                <div class="border-booking">
                    <div class="d-flex p-3">
                        <div class="item-2 p-1 me-3 container-image">
                            <a href="/booking-detail/{{ r.id }}">
                                <img src="{{ r.image }}" alt="Khach san" class="mr-2">
                            </a>
                        </div>
                        <div class="d-flex flex-column item-7">
                            <div class="d-flex  header-title">
                                <div class="d-flex flex-column">
                                    <div>
                                        <h3 class="m-0 text-color-blue">Khách Sạn Oasia</h3>
                                        <div class="stats"></div>
                                        <span></span>
                                    </div>
                                    <div>
                                        <span class="text-small">Cách trung tâm 3km</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-space">
                                    <div>
                                        <h5 class="m-0">Tuyệt hảo</h5>
                                        <span class="text-color-stap"><a href="#" style="all: unset;">99 đánh giá <i
                                                    class="fa-solid fa-star" style="color: #FFD43B;"></i></a></span>
                                    </div>
                                    <div>
                                        <div>
                                            <span class="border-three-corners text-color-write">9.5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div>
                                    <span class="bg-color-green  text-color-write p-1 text-center rounded">Ưu đãi cuối
                                        năm</span>
                                </div>
                            </div>
                            <div class="">
                                <div class="d-flex header-title">
                                    <div class="mt-1">
                                        <h5><a href="/booking-detail/{{r.id}}">{{ r.name }}</a></h5>
                                        <ul class="no-bullet m-0 p-0">
                                            <li>
                                                <span class="text-small">1 giường đôi lớn</span>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-space">
                                                    <div><i class="fa-solid fa-check color-green"></i></div>
                                                    <div><span class="text-small color-green">Miễn phí hủy</span></div>
                                                </div>
                                                <div class="d-flex align-items-space">
                                                    <div><i class="fa-solid fa-check color-green"></i></div>
                                                    <div><span class="text-small color-green">Không cần thanh toán
                                                            online -
                                                            Thanh toán tại chỗ nghỉ</span></div>
                                                </div>
                                                <div>
                                                    <span class="text-small text-color-stap text-color-red">Chỉ còn 4
                                                        phòng
                                                        với giá này trên trang của chúng tôi</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="text-aline-right">
                                        <span class="text-small">1 đêm 2 người lớn</span>
                                        <br>
                                        <span class="text-color-discount">{{ '{:,.0f}'.format( r.price ) }} VND</span>
                                        <h3>{{ '{:,.0f}'.format( r.price * 0.9) }} VND</h3>
                                        <span class="text-small">Đã bao gồm thuế và phí</span>
                                        <hr>
                                        <input type="button"
                                            onclick="add_cart('{{ r.id }}', '{{ r.name }}', '{{ r.price }}', '{{ r.type_room }}', '{{ r.image }}')"
                                            value="Chọn phòng" name="booking" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="mt-5">
    <div><img class="image-footer"
            src="https://ik.imagekit.io/tvlk/loc-asset/gNr3hLh55ZCkPJisyxFK-v9MmzxPu57ZRVI+10VZ2S4b1PNW4T++cbA6yK4gzhAhs9o2HLZ9vs7gy3rpcIU+oKi5EygzQLRjTUv7fRblEVA=/images/1548818046002-1600x1200-FIT_AND_TRIM-9b196b4f45b914b3dbfea061903379d8.jpeg?_src=imagekit&tr=c-at_max,fo-auto,h-272,q-40,w-1280"
            alt="anh khach sạn"></div>
</div>

<div class="container mt-5">
    <h3>Một số thông tin thú vị về những khách sạn ở Oasia</h3>
    <div class="mt-3">
        <table class="table table-no-border">
            <tr class="highlight">
                <td>Số lượng khách sạn</td>
                <td>1200 khách sạn</td>
            </tr>
            <tr>
                <td>Các thành phố phổ biến</td>
                <td>Sơn Trà, Quận Hải Châu</td>
            </tr>
            <tr class="highlight">
                <td>Khách sạn phổ biến nhất</td>
                <td>Melia Vinpearl Danang Riverfront, Da Nang – Mikazuki JAPANESE RESORTS & SPA</td>
            </tr>
            <tr>
                <td>Địa điểm du lịch nổi tiếng nhất</td>
                <td>Biển Mỹ Khê, Cầu sông Hàn</td>
            </tr>
        </table>
    </div>
</div>


<div class="container mb-3">
    <h3>Quy tăc Chung</h3>
    <span>RAON Bazan Hotel - STAY 24H nhận yêu cầu đặc biệt - gửi yêu cầu trong bước kế tiếp!</span>

    <div class="border-booking mt-2">
        <div class="p-2">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <i class="fa-solid fa-arrow-right" style="color: #9dafcd;"></i>
                            Nhận Phòng
                        </td>
                        <td>
                            Từ 14:00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-arrow-left" style="color: #9dafcd; "></i>
                            Trả Phòng
                        </td>
                        <td>
                            Từ 12:00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-at" style="color: #9dafcd; "></i>
                            Hủy đặt phòng / Trả trước
                        </td>
                        <td>
                            Các chính sách hủy và thanh toán trước sẽ khác nhau tùy vào từng loại chỗ nghỉ.<br>
                            Vui lòng kiểm tra các điều kiện có thể được áp dụng cho mỗi lựa chọn của bạn.
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-child " style="color: #9dafcd; "></i>
                            Trẻ em
                        </td>
                        <td>
                            <h6>Chính sách trẻ em</h6>
                            <p>Phù hợp cho tất cả trẻ em.</p>
                            <p>Trẻ em từ 18 tuổi trở lên sẽ được tính giá như người lớn tại chỗ nghỉ này.</p>
                            <p>Để xem thông tin giá và tình trạng phòng trống chính xác, vui lòng thêm số lượng và độ
                                tuổi của trẻ em trong nhóm của bạn khi tìm kiếm.</p>
                            <p>Giá cho giường phụ chưa được bao gồm trong giá tổng và sẽ cần được thanh toán riêng trong
                                kỳ nghỉ.</p>
                            <p>Số lượng giường phụ được phép tùy thuộc vào tùy chọn của bạn. Vui lòng kiểm tra tùy chọn
                                mà bạn đã chọn để biết thêm thông tin.</p>
                            <p>Chỗ nghỉ này không có nôi/cũi.</p>
                            <p>Tất cả giường phụ tùy thuộc vào tình trạng có sẵn.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-child " style="color: #9dafcd; "></i>
                            Không giới hạn độ tuổi
                        </td>
                        <td>
                            Không có yêu cầu về độ tuổi khi nhận phòng
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-dog" style="color: #9dafcd; "></i>
                            Vật nuôi
                        </td>
                        <td>
                            Vật nuôi không được phép
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-child " style="color: #9dafcd; "></i>
                            Nhóm
                        </td>
                        <td>
                            Khi đặt phòng nhiều hơn 4 phòng, các chính sách khác và các điều lệ bổ sung có thể được áp
                            dụng.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-brands fa-amazon-pay" style="color: #9dafcd; "></i>
                            Thanh Toán
                        </td>
                        <td>
                            <img width="50px" src=" {{ url_for('static', filename='image/credict.png') }} " />
                            <img width="50px"
                                src="https://tse4.mm.bing.net/th?id=OIP.1GNvjAZu4hlbE0bWflshGwHaHa&pid=Api&P=0&h=220">
                            <span class="payment-money">Tền mặt</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="border-booking border-footer mt-3 p-3 pb-1">
        <p class="mb-1">Những điên hấp dẫn của Oasia</p>
        <p class="mb-1">Nhấp vào đây để xem thêm khách sạn và chỗ nghỉ nổi tiếng ở Oasia</p>
    </div>

</div>

{% endblock %}