{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/checkOutDate.js') }}"></script>
<script src="{{ url_for('static', filename='js/countTicket.js') }}"></script>
<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
{% endblock %}

{% block content %}

<!--w3school => Carousel -->
<div id="banner" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#banner" data-bs-slide-to="0"
            class="active"></button>
        <button type="button" data-bs-target="#banner"
            data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#banner"
            data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733156440/3_qjevsp.jpg"
                alt="Los Angeles" class="d-block w-100">
            <div class="carousel-caption">
                <h3 class="mb-0">Oasia Hotel</h3>
                <p>Cùng nhau lưu giữ từng khoảnh khắc trong cuộc sống.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733406947/9_gtkici.jpg"
                alt="Chicago" class="d-block w-100">
            <div class="carousel-caption">
                <h3 class="mb-0">Oasia Hotel</h3>
                <p>Nơi sự hài lòng của khách hàng là triết lý.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733156440/1_tbkifr.jpg"
                alt="New York" class="d-block w-100">
            <div class="carousel-caption" style="color:#27e4e0">
                <h3 class="mb-0">Oasia Hotel</h3>
                <p>Làm cho kỳ nghỉ của bạn thật đáng nhớ.</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#banner"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner"
        data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
<!--w3school end Carousel -->

<!-- thanh tìm kiếm -->
<div class="container mt-5  bg-light">
    <div class="container border border-3 rounded mx-auto">
        <form class="m-4">
            <div class="dropdown mb-2 ">
                <label for="location-dropdown" class="form-label title-color"><i
                        class="fa-solid fa-city" style="color: #63E6BE;"></i>
                    Thành phố,
                    vị trí hoặc tên khách sạn   :</label>
                <input
                    id="location-dropdown"
                    type="text"
                    class="form-control dropdown-toggle"
                    placeholder="Thành phố, khách sạn, điểm đến"
                    data-bs-toggle="dropdown"
                    aria-expanded="false" />
                <ul class="dropdown-menu w-100">
                    <!-- phần này để đổ dữ liệu từ database vào -->
                    <li><a class="dropdown-item" href="#">Quận 1</a></li>
                    <li><a class="dropdown-item" href="#">Đà Nẵng</a></li>
                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                    <li><a class="dropdown-item" href="#">Thành phố Vũng
                            Tàu</a></li>
                    <li><a class="dropdown-item">Nha Trang</a></li>
                </ul>
            </div>

            <!-- ngày nhận - ngày trả phòng -->
            <div
                class="row justify-content-center align-items-center text-center">
                <div class="col-md-3 ">
                    <label for="checkin-date" class="form-label title-color"><i
                            class="fa-solid fa-calendar"
                            style="color: #23e7d9;"></i> Check-in
                        date:</label>
                    <input type="date" id="checkin-date"
                        class="form-control" />
                </div>

                <div class="col-md-3">
                    <label class="mb-2 title-color"><i class="fa-solid fa-moon "
                            style="color: #FFD43B;"></i> Số đêm</label>
                    <select class=" form-select">
                        <option>1 đêm</option>
                        <option>2 đêm</option>
                        <option>3 đêm</option>
                        <option>4 đêm</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="check-out-date" class="mb-3 title-color"><i
                            class="fa-solid fa-right-to-bracket"
                            style="color: #B197FC;"></i> Check out</label>
                    <div><label for="checkout-date" id="current-date"></label>
                    </div>
                </div>

                <div class="row mt-3 justify-content-center p-0">
                    <div class="col-md-3 text-center">
                        <p class="title-color"> <i class="fa-solid fa-person"
                                style="color: #f5600f;"></i> Số lượng khách</p>
                        <select class="form-select">
                            <option>2</option>
                            <option>1</option>
                            <option>3</option>
                        </select>
                    </div>

                    <div class="col-md-3 ">
                        <p class="title-color"> <i class="fa-solid fa-bed"
                                style="color: #e665d5;"></i> Loại phòng</p>
                        <select class="form-select">
                            <option>Normal</option>
                            <option>VIP</option>
                        </select>
                    </div>

                    <div class="col-md-6 text-center">
                        <p class="mb-0"><br></p>
                        <button type="button" class="btn col-md-6"
                            style="background-color:#ff5e1e; color:antiquewhite"><i
                                class="fa-solid fa-magnifying-glass"
                                style="color: #ffffff;"></i>
                            Tìm khách sạn</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end thanh tìm kiếm -->

<!-- Phần khuyến mãi -->
<div class="container mt-5">
    <h3 class="mt3 mb-3">Mã giảm giá <span id="count-ticket"
            style="color: rgb(255, 51, 102);">0</span></h3>
    <div class="row justify-content-center">

        <div class="col-md-5 me-5">
            <div class="ticket align-items-center row">
                <!-- Phần thông tin khuyến mãi -->
                <div class="ticket-info flex-grow-1 p-3 col-md-8">
                    <h5 class="fw-bold mb-2 text-truncate"
                        data-bs-toggle="modal"
                        data-bs-target="#moreTicket1">Giảm
                        8% đặt phòng
                        khách sạn cho khách hàng Doanh nghiệp</h5>
                    <p class="text-muted mb-1">Hạn sử dụng: 01/12 - 28/02</p>
                    <p class="text-muted mb-1">Nhập mã khi thanh toán</p>
                    <a href="#" class="text-danger fw-bold"
                        data-bs-toggle="modal" data-bs-target="#moreTicket1">
                        Điều kiện & thể lệ chương trình
                    </a>
                </div>

                <!-- Modal -->
                <!-- The Modal -->
                <div class="modal" id="moreTicket1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Điều kiện & thể lệ
                                    chương trình</h4>
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <ul>
                                    <li>Giảm ngay 8% (tối đa 3.000.000₫) cho đặt
                                        phòng khách sạn cho khách hàng Doanh
                                        nghiệp. (mức giảm áp dụng cho giá trị
                                        đơn chưa bao gồm thuế phí).</li>
                                    <li>Ưu đãi được áp dụng cho một số hạng
                                        phòng của khách sạn.</li>
                                    <li>Mỗi khách hàng chỉ được hưởng ưu đãi 01
                                        lần/ chương trình.</li>
                                    <li>Nếu phát hiện các đặt phòng có dấu hiệu
                                        lạm dụng, trục lợi ưu đãi, Oasia có
                                        quyền từ chối áp dụng.</li>
                                    <li>Áp dụng hoàn hủy theo chính sách khách
                                        sạn.</li>
                                    <li>Mọi thắc mắc vui lòng liên hệ hotline
                                        của Oasia.</li>
                                    <!-- Thêm nội dung khác -->
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Phần mã giảm giá -->
                <div class="ticket-code p-3 text-center col-md-4">
                    <p class="fw-bold mb-1">Nhập mã</p>
                    <p class="fw-bold text-danger mb-2">QTEBIZ</p>
                    <button class="btn btn-sm">Nhận mã</button>
                </div>
            </div>
        </div>

        <div class="col-md-5 ms-5">
            <div class="ticket align-items-center row">
                <!-- Phần thông tin khuyến mãi -->
                <div class="ticket-info flex-grow-1 p-3 col-md-8">
                    <h5 class="fw-bold mb-2 text-truncate"
                        data-bs-toggle="modal"
                        data-bs-target="#moreTicket2">Giảm 5% đặt phòng
                        khách sạn khi đặt trên 3 phòng</h5>
                    <p class="text-muted mb-1">Hạn sử dụng: 28/08 - 31/12</p>
                    <p class="text-muted mb-1">Nhập mã khi thanh toán</p>
                    <a href="#" class="text-danger fw-bold"
                        data-bs-toggle="modal"
                        data-bs-target="#moreTicket2">Điều kiện & thể lệ
                        chương trình</a>
                </div>

                <!-- Modal -->
                <!-- The Modal -->
                <div class="modal" id="moreTicket2">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Điều kiện & thể lệ
                                    chương trình</h4>
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <ul>
                                    <li>Giảm ngay 5% tối đa 1.000.000Đ cho đơn
                                        phòng khách sạn khi đặt trên 3 phòng
                                        (mức giảm áp dụng cho giá trị đơn chưa
                                        bao gồm thuế phí).</li>
                                    <li>Ưu đãi được áp dụng cho một số hạng
                                        phòng của khách sạn.</li>
                                    <li>Mỗi khách hàng chỉ được hưởng ưu đãi 01
                                        lần/ chương trình.</li>
                                    <li>Nếu phát hiện các đặt phòng có dấu hiệu
                                        lạm dụng, trục lợi ưu đãi, Oasia có
                                        quyền từ chối áp dụng.</li>
                                    <li>Áp dụng hoàn hủy theo chính sách khách
                                        sạn.</li>
                                    <li>Mọi thắc mắc vui lòng liên hệ hotline
                                        của Oasia.</li>
                                    <!-- Thêm nội dung khác -->
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Phần mã giảm giá -->
                <div class="ticket-code p-3 text-center col-md-4">
                    <p class="fw-bold mb-1">Nhập mã</p>
                    <p class="fw-bold text-danger mb-2">QTE5</p>
                    <button class="btn btn-sm">Nhận mã</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end Phần khuyến mãi -->

<!-- Phần flask sale -->

<div class=" mt-5 mb-5 bg p-4" style="background-color: #fff5f6;">
    <div class="row flashsale-frame space-between">
        <div class="col-md-5">
            <img
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733149336/flashSale_s6l52q.png"
                alt="flashSale"
                class="img-responsive">
            <div class="row">
                <p class="col-md-6">Chương trình sẽ kết thúc trong</p>
                <p class="col-md-6 timer" id="countdown"></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="box-flasksale-right">
                    <ul class="p-0 mb-0 flask-end">
                        <li>kết thúc ngày 30/12/2024</li>
                        <li>lúc 00:00:00 </li>
                        <li>Đang diễn ra <i class="fa-solid fa-fire fa-shake"
                                style="color: #f79a18;"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 container flask-room">
        <div class="card col-md-3 col-6 p-0" style="width:300px">
            <img class="card-img-top"
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733131040/4_av2wxh.jpg"
                alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Khách sạn </h4>
                <p class="mb-1">
                    {% for i in range(1, 4) %}
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    {% endfor %}
                </p>
                <p class="card-text mb-0">Loại phòng: VIP</p>
                <div>
                    <span class="flask-rate"><i
                            class="fa-solid fa-umbrella"
                            style="color: #09d396;"></i> 9.2</span>
                    <span>Tuyệt vời</span>
                    <span>(255 đánh giá)</span>
                </div>
                <div class="flask-price">
                    <span class="flask-price-old" class="flask-price-old">1,000,000
                        đ</span>
                    <span class="flask-price-sale">700,000
                        đ</span>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-6 p-0" style="width:300px">
            <img class="card-img-top"
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733131040/4_av2wxh.jpg"
                alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Khách sạn </h4>
                <p class="mb-1">
                    {% for i in range(1, 4) %}
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    {% endfor %}
                </p>
                <p class="card-text mb-0">Loại phòng: VIP</p>
                <div>
                    <span  class="flask-rate"><i
                            class="fa-solid fa-umbrella"
                            style="color: #09d396;"></i> 9.2</span>
                    <span>Tuyệt vời</span>
                    <span>(255 đánh giá)</span>
                </div>
                <div class="flask-price">
                    <span class="flask-price-old">1,000,000
                        đ</span>
                    <span class="flask-price-sale">700,000
                        đ</span>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-6 p-0" style="width:300px">
            <img class="card-img-top"
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733131040/4_av2wxh.jpg"
                alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Khách sạn </h4>
                <p class="mb-1">
                    {% for i in range(1, 4) %}
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    {% endfor %}
                </p>
                <p class="card-text mb-0">Loại phòng: VIP</p>
                <div>
                    <span class="flask-rate"><i
                            class="fa-solid fa-umbrella"
                            style="color: #09d396;"></i> 9.2</span>
                    <span>Tuyệt vời</span>
                    <span>(255 đánh giá)</span>
                </div>
                <div class="flask-price">
                    <span class="flask-price-old">1,000,000
                        đ</span>
                    <span class="flask-price-sale">700,000
                        đ</span>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-6 p-0" style="width:300px">
            <img class="card-img-top"
                src="https://res.cloudinary.com/devtqlbho/image/upload/v1733131040/4_av2wxh.jpg"
                alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Khách sạn </h4>
                <p class="mb-1">
                    {% for i in range(1, 4) %}
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    {% endfor %}
                </p>
                <p class="card-text mb-0">Loại phòng: VIP</p>
                <div>
                    <span class="flask-rate"><i
                            class="fa-solid fa-umbrella"
                            style="color: #09d396;"></i> 9.2</span>
                    <span>Tuyệt vời</span>
                    <span>(255 đánh giá)</span>
                </div>
                <div class="flask-price">
                    <span class="flask-price-old">1,000,000
                        đ</span>
                    <span class="flask-price-sale">700,000
                        đ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Phần flask sale -->

<!-- giới thiệu người sáng lập -->
<div class="container row mx-auto">
    <div class="col-md-3">
        <div class="container">
            <div class="card person_card">
                <img
                    class="card-img-top person_image mx-auto rounded-circle mt-5"
                    src="https://res.cloudinary.com/devtqlbho/image/upload/v1733410262/Ton-Nu-Tuong-Van-scaled-e1647176931557_j66ova.jpg"
                    alt="tôn nữ tường vân">
                <div class="card-body">
                    <h4 class="card-title text-center">Tôn Nữ Tường Vân</h4>
                    <p
                        class="card-text text-center">"Fall where you stand up there."</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="container">
            <div class="card person_card">
                <img
                    class="card-img-top person_image mx-auto rounded-circle mt-5"
                    src="https://res.cloudinary.com/devtqlbho/image/upload/v1733410262/Phan-Tu%CC%81-Quye%CC%82n_Microsoft1-scaled-e1647176811363_ighsg1.jpg"
                    alt="Phan Tú Quyên">
                <div class="card-body">
                    <h4 class="card-title text-center">Phan Tú Quyên</h4>
                    <p class="card-text text-center">“I am talented, so are
                        you.”</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="container">
            <div class="card person_card">
                <img
                    class="card-img-top person_image mx-auto rounded-circle mt-5"
                    src="https://res.cloudinary.com/devtqlbho/image/upload/v1733410262/Nguyen-Ngo-Vi-Tam_VHC-1024x1536_st3tv2.jpg"
                    alt="Nguyễn Ngô Vi Tâm">
                <div class="card-body">
                    <h4 class="card-title text-center">Nguyễn Ngô Vi Tâm</h4>
                    <p class="card-text text-center">“Get up from where you
                        fell”</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="container">
            <div class="card person_card">
                <img
                    class="card-img-top person_image mx-auto rounded-circle mt-5"
                    src="https://res.cloudinary.com/devtqlbho/image/upload/v1733412792/HUY%CC%80NH-THI%CC%A3-XUA%CC%82N-LIE%CC%82N-1025x1536_jrkkol.jpg"
                    alt="Huỳnh Thị Xuân Liên">
                <div class="card-body">
                    <h4 class="card-title text-center">Huỳnh Thị Xuân Liên</h4>
                    <p class="card-text text-center">“Take action instead of
                        making empty promises”</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end giới thiệu người sáng lập -->

<!-- gửi thông tin khuyến mãi -->
<div class=" container mt-5">
    <div class="row promotion">
        <div class="col-md-7">
            <div class="mt-3">
                <div class="row ">
                    <div class="col-md-2">
                        <img
                            src="https://res.cloudinary.com/devtqlbho/image/upload/v1733405475/google_mail_gmail_logo_icon_159346_zdefac.png"
                            alt="Los Angeles" class="d-block"
                            style="width: 100%;">
                    </div>

                    <div class="col-md-8 mt-3 ">
                        <ul style="list-style-type: none;">
                            <li>Bạn muốn tiết kiệm tới 50% khi đặt phòng khách
                                sạn ?</li>
                            <li>Nhập số điện thoại để Oasia có thể gửi đến bạn
                                những chương trình khuyến mại mới nhất!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="m-5">
                <form action="post" class="row">
                    <div class="col-md-8 p-0">
                        <input type="text" placeholder=" Nhập số điện thoại"
                            class="promotion1">
                    </div>
                    <div class="col-md-4 p-0">
                        <button type="submit" class="btn btn-danger"
                            style="border-radius: 0 5px 5px 0;">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}