{% extends 'layout/base.html' %}

{% block title %}Trang thông tin phiếu đặt{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservation.css') }}" />
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/reservation.js') }}"></script>
{% endblock %}

{% block content %}
<h1 class="text-center text-danger mt-2">Trang thông tin về phiếu Booking</h1>

<div class="container mb-3">
    <div>
        <h3>Khách sạn Oasia</h3>
    </div>
    {% for b in booking %}
    <div class="border-booking mt-2" id="booking-detail{{ b[9] }}">
        <div class="p-3">
            <div class="d-flex justify-content-between space">
                <div class="item-1 ">
                    <img class="border-image-me" src="{{ b[2] }}" width="128px" alt="Khách sạn"/>
                </div>
                <div class="item-7">
                    <div>
                        <h4>{{ b[1] }}</h4>
                    </div>
                    <div>
                        <span class="date">{{ b[5] }}</span>
                        <span> - </span>
                        <span class="date">{{ b[6] }}</span>
                    </div>
                    
                    <div>
                        <span class="success">Đã đặt thành công</span>
                    </div>
                    
                    <div>
                        <span class="my-date">{{ b[3] }}</span>
                    </div>
                </div>
                <div class="item-2 d-flex flex-column   ">
                    <div>
                        <h3 class="text-danger">{{ '{:,.0f}'.format(b[8]) }} VND</h3>
                    </div>
                    <div>
                        <p class="m-0">Mã đặt phòng: <span>{{ b[7] }}</span></p>
                    </div>
                    <div>
                        <p class="m-0">Mã phòng: <span>{{ b[0] }}</span></p>
                    </div>
                    <div>
                        <input type="button" onclick="deleteBookingDetail('{{ b[9] }}')" value="Hủy đặt phòng" class="btn btn-danger mt-2"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}